<h1>Inicio de sesion</h1>

<form method="post">
    <label>Email</label>
    <input type="text" class="form-control" name="email" />
    <label>Password</label>
    <input type="password" class="form-control" name="pass" />
    <button class="btn btn-dark">Iniciar sesion</button>
</form>